In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2020-04-15 07:21:20,-33.59,26.89,63.00,97,52,1.99
1,1,Rikitea,PF,2020-04-15 07:21:20,-23.12,-134.97,75.96,65,34,4.68
2,2,Avarua,CK,2020-04-15 07:18:24,-21.21,-159.78,75.20,78,86,3.36
3,3,Punta Arenas,CL,2020-04-15 07:21:21,-53.15,-70.92,46.40,87,40,6.93
4,4,Port Lincoln,AU,2020-04-15 07:21:21,-34.73,135.87,77.92,30,100,18.37

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# -- Converted loop using list comprehension
#[max(temp, 0) for temp in max_temp]

In [18]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of Wind Speeds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2020-04-15 07:21:20,-23.12,-134.97,75.96,65,34,4.68
2,2,Avarua,CK,2020-04-15 07:18:24,-21.21,-159.78,75.20,78,86,3.36
4,4,Port Lincoln,AU,2020-04-15 07:21:21,-34.73,135.87,77.92,30,100,18.37
6,6,Niamey,NE,2020-04-15 07:21:22,13.51,2.11,84.20,21,26,6.93
13,13,Atuona,PF,2020-04-15 07:21:23,-9.80,-139.03,82.53,67,32,4.97
14,14,Puerto Ayora,EC,2020-04-15 07:21:23,-0.74,-90.35,79.00,92,98,3.00
28,28,Mount Gambier,AU,2020-04-15 07:21:27,-37.83,140.77,75.20,22,90,10.29
32,32,Monrovia,LR,2020-04-15 07:21:28,6.30,-10.80,78.80,94,75,3.18
36,36,Hithadhoo,MV,2020-04-15 07:21:29,-0.60,73.08,84.97,65,34,1.86
43,43,Butaritari,KI,2020-04-15 07:21:30,3.07,172.79,83.55,80,45,15.10

In [27]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1         Rikitea      PF     75.96 -23.12 -134.97
2          Avarua      CK     75.20 -21.21 -159.78
4    Port Lincoln      AU     77.92 -34.73  135.87
6          Niamey      NE     84.20  13.51    2.11
13         Atuona      PF     82.53  -9.80 -139.03
14   Puerto Ayora      EC     79.00  -0.74  -90.35
28  Mount Gambier      AU     75.20 -37.83  140.77
32       Monrovia      LR     78.80   6.30  -10.80
36      Hithadhoo      MV     84.97  -0.60   73.08
43     Butaritari      KI     83.55   3.07  172.79

In [44]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,75.96,-23.12,-134.97,Pension Maro'i
2,Avarua,CK,75.20,-21.21,-159.78,Paradise Inn
4,Port Lincoln,AU,77.92,-34.73,135.87,Port Lincoln Hotel
6,Niamey,NE,84.20,13.51,2.11,Soluxe Hotel Niamey
13,Atuona,PF,82.53,-9.80,-139.03,Villa Enata
14,Puerto Ayora,EC,79.00,-0.74,-90.35,Finch Bay Galapagos Hotel
28,Mount Gambier,AU,75.20,-37.83,140.77,Best Western Southgate Motel
32,Monrovia,LR,78.80,6.30,-10.80,Eco-Hotel Hall & Restaurant
36,Hithadhoo,MV,84.97,-0.60,73.08,Scoop Guest House
43,Butaritari,KI,83.55,3.07,172.79,Isles Sunset Lodge

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))